<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? title : 'Login System'  %></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    body{
        font-family: 'Open Sans', sans-serif;
        background-image: url('img/login_back.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container {
        border: 1px solid rgb(0, 187, 255);
        box-shadow: 0px 1px 4px 0px rgba(0,255,255,0.7);
        border-radius: 1rem;
    }

    .center-div{
        padding-top: 10%;
    }

    .btn.btn-success{
        padding: .4em 2em;
    }

    form{
        padding: 0 3em;
    }

    #login .title > span{
        font-size: .8em;
    }
</style>
<body>


